<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions inherited from :data:weft / Weft :os-bridge merge. -->

    <application
        android:label="Undercurrent"
        android:theme="@style/Theme.Undercurrent"
        android:supportsRtl="true"
        android:allowBackup="true">
        <!-- TODO: MainActivity goes here once migrated -->
    </application>
</manifest>
